* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  background-color: #000;
}

body {
  opacity: 0;
  transition: opacity 1.5s cubic-bezier(0.5, 0, 0.5, 1);
  -webkit-transition: opacity 1.5s cubic-bezier(0.5, 0, 0.5, 1); /* Safari */
}

.language-toggle {
  position: fixed;
  cursor: pointer;
  padding: 15px;
  top: 0;
  right: 0;
  z-index: 999;
  color: #fff;
  text-shadow: 0px 0px 15px rgb(40, 40, 40);
}

.text-container {
  pointer-events: none;
  touch-action: none;
}

.text-element {
  height: 100vh;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
}

.text {
  padding: 20px;
  text-align: center;
  color: #fff;
  letter-spacing: 2px;
  text-shadow: 0px 0px 10px rgb(40, 40, 40);
  will-change: opacity;
  transition: opacity 100ms cubic-bezier(0.5, 0, 0.5, 1);
}

.logo-element {
  height: 100vh;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
  transition: opacity 100ms cubic-bezier(0.5, 0, 0.5, 1);
}

.logo-container {
  pointer-events: none;
  touch-action: none;
}

.frame-element {
  border: none;
  outline: none;
  background-color: #161616;
  z-index: 1;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #cfa355;
  background-color: #fff;
  border-radius: 10%;
  transition: opacity 150ms cubic-bezier(0.5, 0, 0.5, 1);
}

.frame-text {
  position: absolute;
  bottom: 0;
  font-weight: 200;
  width: 100%;
  text-align: center;
  color: #cfa355;
  -webkit-text-stroke: 0.5px #cfa355;
}

.quiz-container {
  margin: auto auto;
  padding: 20px;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
}

.quiz-head {
  color: #fff;
}

.quiz-subhead {
  letter-spacing: 2px;
  color: #fff;
}

.quiz-content {
  display: grid;
  justify-content: center;
}

input[type="radio"] {
  -webkit-appearance: none;
  cursor: pointer;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: 1.5px solid #cfa355;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
  width: 10px;
  height: 10px;
}

input[type="radio"]:checked {
  background-color: #cfa355;
}

.quiz {
  text-align: left;
}

.au {
  background-color: #cfa355;
  padding-left: 2px;
  border-radius: 10%;
}

#email,
#email:focus {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  padding: 10px;
  padding-bottom: 4px;
  outline: none;
  width: 275px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  caret-color: #fff;
}

#email::placeholder {
  font-size: 16px;
  text-align: center;
}

.send {
  background-color: #cfa355;
  color: #fff;
  cursor: pointer;
  border: 0;
  margin-top: 5px;
  padding: 5px 15px;
  border-radius: 10px;
  font-size: 14px;
  -webkit-text-stroke: 0.5px #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
}

.send:disabled {
  background-color: rgb(50, 50, 50);
  color: rgb(130, 130, 130);
  -webkit-text-stroke: 0.5px rgb(130, 130, 130);
  cursor: default;
}

#tooltip {
  height: 23px;
  padding-top: 5px;
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.5, 0, 0.5, 1);
  font-size: 12px;
}

#tooltip1 {
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.5, 0, 0.5, 1);
  font-size: 12px;
}

#success {
  display: none;
  font-size: 12px;
  padding-top: 10px;
}
#fail {
  display: none;
  font-size: 12px;
  padding-top: 10px;
}

.scroll-container {
  min-height: 100vh;
  overflow-y: hidden;
}
.scroll-area {
  max-height: 100vh;
  max-width: 100vw;
  overflow-y: hidden;
}

.scroll-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  transform: scale(1.3);
}

.background-container {
  position: fixed;
  z-index: -3;
  height: 100%;
  width: 100%;
  background-image: url(assets/background.webp);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
}

.margin-0 {
  margin-bottom: 0px !important;
}

.margin-right {
  margin-right: 0px !important;
}

.img-1 {
  background-image: url(assets/1.webp);
}

.img-2 {
  background-image: url(assets/2.webp);
}

.img-3 {
  background-image: url(assets/3.webp);
}

.img-4 {
  background-image: url(assets/4.webp);
}

.img-5 {
  background-image: url(assets/5.webp);
}

.img-6 {
  background-image: url(assets/6.webp);
}

/* mobile */
@media only screen and (max-width: 480px) {
  * {
    font-weight: 200;
  }

  body:before {
    content: "mobile";
    display: none;
    visibility: hidden;
  }

  body {
    min-height: 100vh;
  }

  .language-toggle {
    font-size: 18px;
    padding: 5px;
    margin-right: 10px;
  }

  .text-element {
    font-size: 24px;
  }

  .text {
    max-width: 400px;
  }

  .logo {
    width: 250px;
    height: auto;
  }

  .frame-element {
    height: 113px;
    width: 113px;
    top: calc(50vh - 50px);
    left: calc(50% - 89px);
  }

  .frame-text {
    font-size: 20px;
    letter-spacing: 5px;
    padding-left: 5px;
  }

  .quiz-container {
    padding: 0px;
    min-width: 225px;
    max-width: 325px;
    min-height: 450px;
    max-height: 550px;
    line-height: 1.5;
  }

  .quiz-head {
    letter-spacing: normal;
    font-size: 16px;
    padding-top: 12px;
  }

  input[type="radio"] {
    margin-top: 5px;
    margin-right: 5px;
    /* margin-left: 5px; */
    border: 1px solid #cfa355;
    height: 8px;
    width: 8px;
  }

  label {
    margin-right: 15px;
  }

  .quiz-subhead {
    letter-spacing: normal;
    font-size: 12px;
    padding-top: 12px;
  }

  .quiz-content {
    grid-template:
      "quiz1" 60px
      "quiz2" 60px
      "quiz3" 60px/
      225px;
    gap: 5px;
    font-size: 12px;
    padding-top: 12px;
  }

  #tooltip {
    font-size: 8px;
    height: 20px;
  }

  .quiz {
    text-align: center;
  }

  .quiz-section {
    padding-top: 10px;
    font-size: 12px;
  }

  .quiz-form {
    font-size: 12px;
  }

  #email,
  #email:focus {
    padding: 10px;
    padding-bottom: 2px;
    padding-top: 2px;
    width: 150px;
    border-bottom: 1px solid #fff;
    outline: none;
    font-size: 12px;
    font-weight: 200;
    letter-spacing: normal;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    border-radius: 0px;
  }

  #email::placeholder {
    font-size: 12px;
    text-align: center;
  }

  #success {
    font-size: 8px;
    line-height: 1.3;
    padding-top: 6px;
    color: #cfa355;
  }

  #fail {
    font-size: 8px;
    line-height: 1.3;
    padding-top: 6px;
  }

  .send {
    background-color: #cfa355;
    color: #fff;
    cursor: pointer;
    border: 0;
    margin: 0px;
    padding: 4px 8px;
    border-radius: 7px;
    font-size: 12px;
    -webkit-text-stroke: 0.5px #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
  }

  .email-status {
    font-size: 12px;
    padding-top: 10px;
  }

  .scroll-area {
    margin-bottom: 150px;
  }

  .scroll-section {
    background-position-y: 62.5px;
  }

  .scroll-container {
    min-height: 100vh;
    overflow-y: hidden;
  }

  /* .background-container {
    background-image: none;
  } */

  .footer-container {
    display: grid;
    justify-items: center;
    height: 575px;
    font-size: 14px;
    color: #fff;
    background-color: #000;
    pointer-events: none;
    grid-template:
      ". follow . " 50px
      ". social . " 55px
      ". head . " 65px
      ". info . " 85px
      ". email . " 100px
      ". alert . " 30px
      ". contact . " 70px
      ". copyright . " 35px
      ". terms . " 40px
      ". privacy . " 45px/
      1fr 250px 1fr;
  }

  .footer-head {
    grid-area: head;
    font-size: 28px;
    justify-self: center;
    align-self: end;
  }

  .footer-follow {
    grid-area: follow;
    font-size: 14px;
    justify-self: center;
    align-self: end;
  }

  .footer-info {
    grid-area: info;
    font-size: 14px;
    letter-spacing: 0.5px;
    justify-self: center;
    align-self: center;
    text-align: center;
  }

  .footer-social {
    grid-area: social;
    justify-self: center;
    align-self: center;
    pointer-events: auto;
  }

  .footer-email {
    grid-area: email;
    justify-self: center;
    align-self: center;
    text-align: center;
  }

  .footer-contact {
    grid-area: contact;
    font-size: 14px;
    justify-self: center;
    align-self: start;
  }

  .footer-alert {
    grid-area: alert;
    color: #fff;
    font-size: 14px;
    justify-self: center;
    align-self: start;
  }

  .footer-terms {
    grid-area: terms;
    justify-self: center;
    align-self: center;
    font-size: 12px;
    pointer-events: auto;
  }

  .footer-copyright {
    grid-area: copyright;
    justify-self: center;
    align-self: end;
    font-size: 12px;
  }

  .footer-privacy {
    grid-area: privacy;
    justify-self: center;
    align-self: start;
    font-size: 12px;
    pointer-events: auto;
  }

  .footer-blank-1 {
    display: none;
    grid-area: blank1;
    background-color: #333;
  }

  .footer-blank-2 {
    display: none;
    grid-area: blank2;
    background-color: #333;
  }

  .mail {
    pointer-events: auto;
  }

  #subscribe,
  #subscribe:focus {
    pointer-events: auto;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: transparent;
    border: none;
    border-bottom: 0.5px solid #fff;
    padding: 5px 10px;
    outline: none;
    text-align: center;
    width: 250px;
    color: #fff;
    font-weight: 100;
    letter-spacing: 1px;
    caret-color: #fff;
    font-size: 14px;
  }

  #subscribe::placeholder {
    font-size: 14px;
    text-align: center;
  }

  .contact {
    text-align: center;
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  .icon {
    width: 30px;
    height: 30px;
    margin: 7px;
  }

  #update {
    background-color: #cfa355;
    margin-top: 15px;
    color: #fff;
    cursor: pointer;
    border: 0;
    pointer-events: auto;
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 16px;
    -webkit-text-stroke: 0.5px #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
  }
}

/* tablet */
@media only screen and (min-width: 481px) and (max-width: 960px) {
  * {
    font-weight: 200;
  }

  body:before {
    content: "tablet";
    display: none;
    visibility: hidden;
  }

  .language-toggle {
    font-size: 20px;
    padding: 5px;
    margin-right: 5px;
  }

  .text-element {
    font-size: 40px;
  }

  .text {
    max-width: 600px;
  }

  .logo {
    width: 425px;
    height: auto;
  }

  .frame-element {
    height: 185px;
    width: 185px;
    top: calc(50vh - 90px);
    left: calc(50% - 145px);
  }

  .frame-text {
    font-size: 32px;
    letter-spacing: 7px;
    padding-left: 7px;
  }

  .quiz-container {
    min-width: 600px;
    max-width: 700px;
    min-height: 300px;
    max-height: 400px;
  }

  .quiz-head {
    letter-spacing: normal;
  }

  .quiz-head {
    font-size: 20px;
    padding-top: 16px;
  }

  .quiz-subhead {
    font-size: 20px;
    padding-top: 8px;
  }

  .quiz-content {
    grid-template: ". quiz1 quiz2 quiz3 ." 200px / auto;
    gap: 20px;
    font-size: 16px;
    padding-top: 16px;
  }

  .quiz-section {
    padding-top: 16px;
  }

  .quiz-form {
    font-size: 16px;
  }

  .scroll-area {
    margin-bottom: 150px;
  }
}

/* desktop */
@media only screen and (min-width: 961px) {
  * {
    font-weight: 100;
  }

  body:before {
    content: "desktop";
    display: none;
    visibility: hidden;
  }

  .language-toggle {
    font-weight: 100;
    font-size: 22px;
    margin-right: 10px;
  }

  .text-element {
    font-size: 48px;
  }

  .text {
    -webkit-text-stroke: 0.5px #fff;
    max-width: 795px;
  }

  .logo {
    width: 675px;
    height: auto;
  }

  .frame-element {
    height: 296px;
    width: 296px;
    top: calc(50vh - 150px);
    left: calc(50% - 232px);
  }

  .frame-text {
    font-size: 48px;
    letter-spacing: 12px;
    padding-left: 12px;
  }

  .quiz-container {
    pointer-events: none;
    min-width: 800px;
    max-width: 900px;
    min-height: 550px;
    max-height: 650px;
  }

  label {
    pointer-events: auto;
    cursor: pointer;
  }

  .quiz-head {
    letter-spacing: 2px;
  }

  .quiz-head {
    font-size: 24px;
    padding-top: 5px;
  }

  .quiz-subhead {
    font-size: 24px;
    padding-top: 10px;
  }

  .quiz-content {
    grid-template: "quiz1 quiz2 quiz3" 125px / 225px 225px 225px;
    gap: 25px;
    font-size: 16px;
    padding-top: 25px;
  }

  .quiz {
    padding-left: 20px;
  }

  .quiz-section {
    padding-top: 25px;
  }

  .quiz-form {
    font-size: 16px;
    pointer-events: auto;
  }

  .scroll-area {
    margin-bottom: 250px;
  }

  .scroll-section {
    background-position-y: 92px;
  }

  .footer-container {
    display: grid;
    height: 280px;
    font-size: 14px;
    color: #fff;
    background-color: #000;
    pointer-events: none;
    grid-template:
      ". . . . . " 20px
      ". head . follow . " 60px
      ". info . social . " 60px
      ". email .  contact . " 50px
      ". alert . . . " 40px
      "blank1 terms copyright privacy blank2 " 45px/
      1fr 480px 370px 200px 1fr;
  }

  .footer-head {
    grid-area: head;
    font-size: 28px;
    justify-self: start;
    align-self: start;
  }

  .footer-follow {
    grid-area: follow;
    font-size: 14px;
    justify-self: end;
    align-self: end;
    padding-bottom: 5px;
  }

  .footer-info {
    grid-area: info;
    font-size: 14px;
    letter-spacing: 0.5px;
    justify-self: start;
    align-self: start;
  }

  .footer-social {
    grid-area: social;
    justify-self: end;
    align-self: start;
    pointer-events: auto;
  }

  .footer-email {
    grid-area: email;
    justify-self: start;
    align-self: start;
  }

  .footer-contact {
    grid-area: contact;
    font-size: 14px;
    justify-self: end;
    align-self: start;
  }

  .footer-alert {
    grid-area: alert;
    color: #fff;
    font-size: 14px;
    justify-self: start;
    align-self: start;
  }

  .footer-terms {
    grid-area: terms;
    padding-top: 13px;
    text-align: start;
    background-color: #333;
    font-size: 14px;
    pointer-events: auto;
  }

  .footer-copyright {
    grid-area: copyright;
    padding-top: 13px;
    text-align: start;
    background-color: #333;
    font-size: 14px;
  }

  .footer-privacy {
    grid-area: privacy;
    padding-top: 13px;
    text-align: end;
    background-color: #333;
    font-size: 14px;
    pointer-events: auto;
  }

  .footer-blank-1 {
    grid-area: blank1;
    background-color: #333;
  }

  .footer-blank-2 {
    grid-area: blank2;
    background-color: #333;
  }

  .mail {
    pointer-events: auto;
  }

  #subscribe,
  #subscribe:focus {
    pointer-events: auto;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    border: none;
    border-bottom: 0.5px solid #fff;
    padding: 15px 15px 5px 0px;
    outline: none;
    width: 315px;
    color: #fff;
    font-weight: 100;
    letter-spacing: 1px;
    caret-color: #fff;
    font-size: 14px;
  }

  #subscribe::placeholder {
    font-size: 14px;
    text-align: start;
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  .icon {
    width: 30px;
    height: 30px;
    margin: 7px;
  }

  .contact {
    text-align: end;
  }

  #update {
    background-color: #cfa355;
    margin-left: 15px;
    color: #fff;
    cursor: pointer;
    border: 0;
    pointer-events: auto;
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 16px;
    -webkit-text-stroke: 0.5px #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
  }
  /* scroll bar */
  ::-webkit-scrollbar {
    width: 10px; /* width of the entire scrollbar */
  }

  ::-webkit-scrollbar-track {
    background: #000; /* color of the tracking area */
  }

  ::-webkit-scrollbar-thumb {
    background-color: #cfa355; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid #000;
  }
}
